.callout-root {
  position: relative;
  display: block;
  overflow: hidden;

  min-width: 320px;
}

.data-list {
  display: flex;
  flex-direction: column;


  &__item {
    display: flex;
    gap: var(--space-3);
  }

  &__title {
    flex: 1;
  }

  &__value {
    flex: 1;
  }
}
