.bar-charts-wrapper {
  width: 100%;
  display: flex;

  @media only screen and (max-width: 1280px) {
    flex-direction: column;
  }

  .card-root {
    width: 50%;

    @media only screen and (max-width: 1280px) {
      width: 100%;
    }
  }
}

